.feynman__title {
    width: 648px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    font-size: 120px;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;  /*Текст внутри заголовка выровнил по центру после 2го ревью*/
  }
