.header {
    position: relative;
    /* чтобы блок .header был родителем лем своих "деток"-внутренних блоков, иначе "детки" лепятся по краям экрана,
                        при изменении масштаба. Убил 2 дня чтобы это найти и вставить position: relative */
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    background: #f2f2f2;
    /*border: 1px solid red; Если хочется использовать рамки, то лучше использовать outline,
                             а не border, т.к. аутлайн не увеличивает размер элемента, к
                             которому он применен. А вообще лучше пользоваться инструментами разработчика в браузере.*/
    
    /*outline: 1px solid green; - здорово, надо взять на заметку аутлайн !
    outline-offset: 0px;*/

    /*добавил рамку для наглядности*/
    display: flex;
    align-items: center;
    overflow: hidden;
  }
