/*.footer__column-heading_icon {
    display: flex;
    margin: 0 auto 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    color: white;
  }*/
  /*Этот модификатор можно удалить, т.к. он здесь не нужен и не используется в коде - 21/11 - ревьюер Александр Семёнов
*/
