.table__cell {
    list-style: none;
    width: 250px;
    margin-top: 60px; /*ревью 2, Александр Семёнов, ревьюер. - В этой секции отступ между
     подзаголовком и первым рядом элементов table__cell больше, чем нужно http://joxi.ru/Dr8zWajiME44D2.
     Странно, проверил отступы по брифу спринта №1 - задан отступ между подзаголовком и первым рядом
     элементов в 60px (Секция, блок digits)*/
  }
